// ===== ///// FONTS ///// ===== //

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap');

// ===== ///// VARIABLES ///// ===== //

$orange-infobae: #f68e01;

// ===== ///// FUNCTIONS ///// ===== //

@function em($number, $parent:16px) {
  @return ($number / $parent) * 1em;
}

@function rem($number, $parent:16px) {
  @return ($number / $parent) * 1rem;
}

// ===== ///// MIXINS ///// ===== //

$breakpoints: (
  xs: rem(360px),
  sm: rem(375px),
  md: rem(758px),
  lg: rem(992px),
  xl: rem(1200px),
  xxl: rem(1600px)
);

@mixin media-query($breakpoint) {
  @if map-has-key($breakpoints,$breakpoint) {
    @media screen and (min-width: map-get($breakpoints,$breakpoint)) {
      @content;
    }
  } @else {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  }
};

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #2e3035;
  font-family: 'Fira Sans', sans-serif;
  overflow: hidden;
  &.hidden {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 20px 0;
}

.title-map {
  text-align: center;
  color: $orange-infobae;
  padding: 15px 0;
  font-size: rem(25px);
  @include media-query(md) {
    font-size: rem(33px);
  }
}

.text-instructions {
  text-align: center;
}

.wrapper-map {
  position: relative;
  min-height: 320px;
  margin-top: 30px;
  @include media-query(md) {
    min-height: 650px;
  }
}

.background-map {
  background: url('../img/background-map-2.png') no-repeat center top;
  background-size: 100%;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.popup {
  display: none;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: rgba(0,0,0, .8);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 200;
  transform: translateY(100%);
  transition: all .3s ease-in-out;
  &.over {
    transform: translateY(0);
  }
  &__image {
    display: block;
    width: 90%;
    max-width: 730px;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;
  }
  &__wrap-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
  }
  &__btn-close {
    outline: none !important;
    color: $orange-infobae;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1.25rem;
    border: 1px solid $orange-infobae;
    border-radius: 3px;
    background-color: transparent;
    padding: 7px 10px;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
  }
}

.mapael {
  .areaLegend {
    position: relative;
    top: 100px;
  }
  .map {
    // background-color: #cddee0;
    // margin-bottom: 10px;
    position: relative;
    cursor: pointer;
  }
  .zoomButton {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 0; right: 10px;
    font-weight: bold;
    user-select: none;
  }
  .zoomReset {
    top: 20px;
  }
  .zoomIn {
    top: 50px;
  }
  .zoomOut {
    top: 80px;
  }
  .mapTooltip {
    position: absolute;
    background-color: #3a3b3f;
    opacity: 0.9;
    border-radius: 10px;
    padding: 10px;
    z-index: 100;
    max-width: 200px;
    display: none;
    color: #fff;
  }
}